*
  margin:0
  padding:0
a
  text-decoration:none
li
  list-style:none
body
  margin-bottom:100px
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol
h3, h4
  font-weight: 600



.clearfix
  display: inline-block
  &:after
    display: block
    content: " "
    height: 0
    line-height: 0
    clear: both
    visibility: hidden


